<?xml version="1.0" encoding="UTF-8"?>
<!-- This web.xml file is not required when using Servlet 3.0 container,
     see implementation details http://jersey.java.net/nonav/documentation/latest/jax-rs.html -->
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">
    <servlet>
        <servlet-name>controllerServlet</servlet-name>
        <servlet-class>efedorov.servlets.ControllerServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>areaCheckServlet</servlet-name>
        <servlet-class>efedorov.servlets.AreaCheckServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>controllerServlet</servlet-name>
        <url-pattern></url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>areaCheckServlet</servlet-name>
        <url-pattern>/check</url-pattern>
    </servlet-mapping>
</web-app>